.send_textarea{
    
    width: 19.75rem;
height: 2.5625rem;
flex-shrink: 0;
border-radius: var(--large, 0.75rem);
background: var(--Dark-Dark--60, #526175);
z-index: 9999;
color: var(--Light-Light--100, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Gilroy;
font-size: 0.75rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 0.9rem */
}
.send_textarea:active{
    width: 20rem;
height: 2.5625rem;
flex-shrink: 0;
border-radius: var(--large, 0.75rem);
border: 1px solid var(--Light-Light--70, #BCC9DA);
background: var(--Dark-Dark--60, #526175);
}