.crd-stk{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -3.5rem;
  position: relative;
}

.Card_Truth_Lie {
  position: relative;
  /* margin-top: -45rem; */
  /* margin-top: -89.5vh; */
  margin-top: 10.5vh;
  z-index: 999;
  /* width: 19.75rem; */
  width: 85vw;
  /* height: 26.0625rem; */
  height: 54vh;
  flex-shrink: 0;
  border-radius: 0.75rem;
  border: 1px solid var(--Neutral-Rich-Dark, #090909);
  background: var(--Accent-color-Acc-01, #02ff89);
  box-shadow: 0px 2px 0px 0px #161716;
}

.Card_heading {
  color: var(--Neutral-Rich-Dark, #090909);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Gilroy;
  /* font-size: 1.25rem; */
  font-size: 125%;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.Card_Text {
  /* width: 17rem; */
  width: 73vw;
  /* height: 7.5rem; */
  height: 15vh;
  flex-shrink: 0;
  border-radius: 0.75rem;
  border: 1px solid var(--Neutral-Dark-alpha-10, rgba(22, 23, 22, 0.1));
  background: var(--Neutral-Dark-alpha-10, rgba(22, 23, 22, 0.1));
  color: var(--Neutral-Dark-alpha-60, rgba(22, 23, 22, 0.6));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Gilroy;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  box-sizing: border-box;
  /* padding: 10%; */
  padding: 5.3vh 1.3vh;
  overflow: hidden;
}


.input-focused {
  border: 2px solid var(--Neutral-Dark-alpha-60, rgba(22, 23, 22, 0.6));
  outline: none;
  font-weight: 600;
  color: var(--Neutral-Rich-Dark, #090909);
}



.Card_next_button {
  display: inline-flex;
  padding: 0.125rem 0.625rem;
  align-items: center;
  gap: 0.5625rem;
  border-radius: 3.125rem;
  background: var(--Dark-Dark--100, #0e1928);
  color: white;
  border: none;
  font-weight: 100;
  margin-bottom: 1vh;
}

.Truth_Options {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.5rem;
  border: 1px solid var(--Neutral-Dark-alpha-80, rgba(22, 23, 22, 0.8));
}

.Back_card_two {
  position: relative;
  /* width: 15rem; */
  width: 68.4vw;
  /* top:5rem; */
  top:9.9vh;
  /* height: 26.0625rem; */
  height: 52.05vh;
  flex-shrink: 0;
  border-radius: 0.75rem;
  border: 1px solid var(--Neutral-Rich-Dark, #090909);
  box-shadow: 0px 2px 0px 0px #161716;
}
.pink {
  background: var(--Accent-color-Acc-02, #ff55f8);
}
.green {
  background: var(--Accent-color-Acc-01, #02ff89);
}
.Back_Card_one {
  position: relative;
  /* top:-20rem; */
  top:-39.8vh;
  /* width: 17.375rem; */
  width: 79.23vw;
  /* height: 26.0625rem; */
  height: 52.05vh;
  flex-shrink: 0;
  border-radius: 0.75rem;
  border: 1px solid var(--Neutral-Rich-Dark, #090909);
  box-shadow: 0px 2px 0px 0px #161716;
}

.Card_options {
  margin:  5vh auto 3vh;
  display: flex;
  /* width: 18.25rem; */
  width: 80vw;
  max-width: 100vw;
  max-height: 70vh;
  /* max-height: 8rem; */
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.textoption {
  height: 0.75rem;
  height: 1.5vh;
  color: var(--Neutral-Dark-alpha-80, rgba(22, 23, 22, 0.8));
  text-align: center;
  font-family: Gilroy;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
